.footer {
    background-color: var(--black);
    color: var(--blue);
    font-family: var(--font-family);
    font-style: normal;
    height: 60px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    margin-bottom: unset;
}

.footer > div {
    margin-left: unset;
}