
<form #form="ngForm" (ngSubmit)="salvar()">
    <div class="col s12 m12 l5">
        <mat-card class="card">
            <!--
            <c-toast (timer)="contabilizarTempo($event)"
                     [visible]="mensagemVisivel()" 
                     class="mensagem align-items-center">
                <div>
                    <c-toast-body >
                        <span>{{mensagem}}</span>
                    </c-toast-body>
                </div>
            </c-toast>
            -->
            <mat-card-content class="objeto z-depth-2 row center-align">
                <div class="dado col s9 m9 l9 offset-s3 offset-m3 offset-l3">
                    <div class="imagem col s8 m8 l8">
                        <img [src]="imagem.base64" *ngIf="imagem.base64" #img>
                    </div>
                    <div class="col s8 m8 l8">
                        <input type="file" class="hide" (change)="onChange($event)" #escolher>
                        <button (click)="removerImagem(); escolher.click()">
                            <div *ngIf="!imagem.base64">
                                <span> escolher arquivo </span>
                            </div>
                            <div *ngIf="imagem.base64">
                                <span class="col s6 m6 l6 left-align">{{arquivo}}</span> 
                                <span class="col s6 m6 l6 right-align"> x </span>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="dado valign-wrapper col s9 m9 l9 offset-s1 offset-m1 offset-l1">
                    <div class="truncate col s3 m3 l3">
                        <label>Nome: </label>
                    </div>
                    <div class="col s9 m9 l9">
                        <input #nome="ngModel"
                               type="text" 
                               name="nome" 
                               [(ngModel)]="objeto.nome" 
                               minlength="2"
                               maxlength="60"
                               required="true"/>
                               <div class="mensagem" *ngIf="nome.touched && (nome.errors?.['minlength'] || nome.errors?.['maxlength'])"><span>precisa ter de 2 a 60 caracteres</span></div>
                               <div class="mensagem" *ngIf="nome.touched && nome.errors?.['required']"><span>campo obrigatório</span></div>
                    </div>
                </div>

                <div class="dado valign-wrapper col s9 m9 l9 offset-s1 offset-m1 offset-l1">
                    <div class="truncate col s3 m3 l3">
                        <label>Tipo: </label>
                    </div>
                    <div class="col s9 m9 l9">
                        <input #tipo="ngModel"
                               type="text" 
                               name="tipo" 
                               [(ngModel)]="objeto.tipo" 
                               minlength="2"
                               maxlength="60"/>
                               <div class="mensagem" *ngIf="tipo.touched && (tipo.errors?.['minlength'] || tipo.errors?.['maxlength'])"><span>precisa ter de 2 a 60 caracteres</span></div>
                    </div>
                </div>

                <div class="dado valign-wrapper col s9 m9 l9 offset-s1 offset-m1 offset-l1">
                    <div class="truncate col s3 m3 l3">
                        <label>Constelação: </label>
                    </div>
                    <div class="col s9 m9 l9">
                        <input #constelacao="ngModel"
                               type="text" 
                               name="constelacao" 
                               [(ngModel)]="objeto.constelacao" 
                               minlength="2"
                               maxlength="60"/>
                               <div class="mensagem" *ngIf="constelacao.touched && (constelacao.errors?.['minlength'] || constelacao.errors?.['maxlength'])"><span>precisa ter de 2 a 60 caracteres</span></div>
                    </div>
                </div>

                <div class="dado valign-wrapper col s9 m9 l9 offset-s1 offset-m1 offset-l1">
                    <div class="truncate col s3 m3 l3">
                        <label>Magnitude: </label>
                    </div>
                    <div class="col s9 m9 l9">
                        <input #magnitude="ngModel"
                               name="magnitude" 
                               type="text" 
                               [(ngModel)]="objeto.magnitude" 
                               mask="0.0" 
                               [dropSpecialCharacters]="false" 
                               maxlength="3"/>
                    </div>
                </div>

                <div class="dado valign-wrapper col s9 m9 l9 offset-s1 offset-m1 offset-l1">
                    <div class="truncate col s3 m3 l3">
                        <label>A. Reta: </label>
                    </div>
                    <div class="col s9 m9 l9">
                        <input  #ascencaoReta="ngModel"
                                name="ascencaoReta" 
                                type="text" 
                                [(ngModel)]="objeto.ascencaoReta" 
                                [patterns]="patternsCustomizados"
                                mask="00h 00m 00s"
                                [specialCharacters]="caracteresEspeciais"
                                [dropSpecialCharacters]="false" 
                                [pattern]="'([0-1][0-9]|2[0-3])\h\ [0-9]{2}\m\ [0-9]{2}\s'"
                                maxlength="11"
                                required="true"/>
                                <div class="mensagem" *ngIf="ascencaoReta.touched && !ascencaoReta.valid && !ascencaoReta.errors?.['required']"><span>valor inválido</span></div>
                                <div class="mensagem" *ngIf="ascencaoReta.touched && ascencaoReta.errors?.['required']"><span>campo obrigatório</span></div>
                    </div>
                </div>

                <div class="dado valign-wrapper col s9 m9 l9 offset-s1 offset-m1 offset-l1">
                    <div class="truncate col s3 m3 l3">
                        <label>Declinação: </label>
                    </div>
                    <div class="col s9 m9 l9">
                        <input  #declinacao="ngModel"
                                name="declinacao" 
                                type="text" 
                                [(ngModel)]="objeto.declinacao" 
                                [patterns]="patternsCustomizados"
                                mask="S00° 00' 00&quot;"
                                [specialCharacters]="caracteresEspeciais"
                                [dropSpecialCharacters]="false" 
                                [pattern]="'[-|+]([0-8][0-9]|90)°\ [0-9]{2}\'\ [0-9]{2}&quot;'"
                                maxlength="12"
                                required="true"/>
                                <div class="mensagem" *ngIf="declinacao.touched && !declinacao.valid && !declinacao.errors?.['required']"><span>valor inválido</span></div>
                                <div class="mensagem" *ngIf="declinacao.touched && declinacao.errors?.['required']"><span>campo obrigatório</span></div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngFor="let anotacao of anotacoes; let i = index">
        <div *ngIf="posicao == i">
            <div class="col s12 m12 l5">
                <mat-card class="card">
                    <mat-card-content class="anotacao z-depth-2 row">
                        <div class="subtitulo center-align col s12 m12 l12">
                            <span>Anotações</span>
                        </div>
                        <div class="dado col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                            <textarea  name="conteudo" 
                                       type="text" 
                                       [(ngModel)]="anotacao.conteudo" 
                                       (keyup)="onKeyup($event)"></textarea>
                            <div class="row center-align">
                                <ul class="lista col s10 m10 l10 offset-s1 offset-m1 offset-l1">
                                    <li *ngFor="let anotacao of anotacoes; let i = index" 
                                        [attr.class]="'col m1 l1 ' + (posicao == i ?  'selecionado' : 'normal')" 
                                        (click)="mover(i)">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l5"></div>
        <div class="col s12 m12 l5">
            <div class="operacao row">
                <div class="col s6 m3 l3 offset-m3 offset-l8">
                    <button mat-button class="z-depth-2" [class.desabilitado]="!form.valid" type="submit" [disabled]="!form.valid">Salvar</button>
                </div>
                <div class="col s6 m3 l3 offset-s6 offset-m6 offset-l5">
                    <button mat-button class="z-depth-2" [routerLink]="['/home']">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>