/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

:root {
    --blue: #7B8EAD;
    --white: #ffffff;
    --black: #000000;
    --grey: #C0C3C9;
    --font-family: "Montserrat";
}


