
<mat-card class="card">
    <mat-card-content class="objeto z-depth-2 row">
        <app-imagem [imagem]="imagem"></app-imagem>

        <div class="subtitulo truncate col s10 m10 l10 offset-s2 offset-m2 offset-l2">
            <span>{{objeto?.nome}}</span>
        </div>

        <div class="dado truncate col s10 m10 l10 offset-s2 offset-m2 offset-l2">
            <label>Tipo: </label><span>{{objeto?.tipo}}</span>
        </div>

        <div class="dado truncate col s10 m10 l10 offset-s2 offset-m2 offset-l2">
            <label>Constelação: </label><span>{{objeto?.constelacao}}</span>
        </div>

        <div class="dado truncate col s10 m10 l10 offset-s2 offset-m2 offset-l2">
            <label>Magnitude: </label><span>{{objeto?.magnitude}}</span>
        </div>

        <div class="dado truncate col s10 m10 l10 offset-s2 offset-m2 offset-l2">
            <label>A. Reta: </label><span>{{objeto?.anguloReta}}</span>
        </div>

        <div class="dado truncate col s10 m10 l10 offset-s2 offset-m2 offset-l2">
            <label>Declinação: </label><span>{{objeto?.declinacao}}</span>
        </div>
    </mat-card-content>
</mat-card>